* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  font-weight: bold;
  text-align: center;
  background: #0F0F0F
}

main {
  height: 100vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index {
  background: url("/content/images/backgrounds/titanium-2.jpg");
}

.four-o-four {
  background: url("/content/images/backgrounds/cracked-asphalt.jpg");
}

.about {
  color: #F0F0F0;
  background: url("/content/images/backgrounds/brushed.jpg");
  font-size: 2vw;
  font-weight: bold
}

.about p {
  color: lightblue;
  font-size: 2vmax;
  text-align: left
}

h1 { font-size: 2.8em }
h2 { font-size: 2.5em }
h3 { font-size: 2.0em }

h1, h2, h3, hr {
  margin: 0 2vw;
  color: lightblue;
  color: #F0F0F0;
}

ul {
  margin: 0 auto;
}

li {
  margin: 4px;
  padding: 4px;
  width: 112x;
  display: inline-block;
  font-size: 1.25em;
  background-color: #FFFFFF;
  opacity: 0.5;
  border-radius: 4px;
  box-shadow: 4px 4px #1F1F1F;
  transition: all 0.25s;
}

li:hover {
  opacity: 1;
  background-color: gold;
  cursor: default
}

img {
  margin: 0 auto;
  height: 144px;
  width: 144px;
  display: inline-block
}

hr {
  width: 80vw;
  margin: 12px auto
}