@{
Layout="../_layout.page.cshtml";
PageData["title"] += "07-Nov-2012";
}
  <div>
    <span style="font-size: 28px">Triage</span>
    <span style="font-size: 12px; margin: 0 auto 0 8px">07-Nov-2012</span>
    <hr  />
    <p></p>
  </div>