#p-welcome {
  font-size: 16px;
}

#div-construction {
  margin: auto;
  text-align: center;
  display: table
}

#div-construction img {
  display: table-cell;
}

#div-construction h4 {
  vertical-align: middle;
  display: table-cell;
}

#div-searchengines {
  margin: auto;
  text-align: center;
  display: table
}

#div-searchengines h3 {
  display: table-row
}

#div-searchengines img {
  width: 144px;
  display: inline-block
}

#p-note {
  font-size: 14px;
}

#img-einstein {
  margin: auto;
  height: 256px;
  display: inline-block
}

#img-frontpage {
  height: auto;
  width: 160px
}

#div-email {
  
}

#div-external-links {
  background: #3F3F3F;
}

.img-external-link {
  height: 96px;
  width: 96px
}