* {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

html {
  font-family: Nunito, Futura, Verdana;
}

body {
  color: #D7D7D7;
  background-color: #4F4F4F;
  font-size: 18px;
  cursor: default
}

header {
  padding: 8px;
  background-color: #0F0F0F;
  display:flex;
  align-items: center;
}

header img {
  display: inline-block;
}

header h1 {
  margin: auto;
  text-align: center;
  display: inline-block;
}

nav {
  padding: 24px;
  background: #3F3F3F;
}

nav ul li {
  display: inline-block
}

li.link {
  width: 144px;
  margin: 2px;
  padding: 2px;
  color: #000000;
  background: #FFFF00;
  border-radius: 4px;
  display: inline-block;
}

main {
  background: #5F5F5F;
  padding: 32px;
  margin: auto;
  width: 80%;
}

a, a:visited{
  color: #FFFFB0;
  text-decoration: none;
}

p {
  font-size: 14px;
}

hr {
  border-color: #FFFFB0;
  margin: 12px;
}

img {
    border-style: none;
}

footer {
  padding: 8px;
  background-color: #0F0F0F;
  text-align: center
}