@{
Layout="_layout.page.cshtml";
PageData["title"] += "Blank";
}
    <div class="table">
      <!--[if lte IE 9]>
      <p style="color: #FFFFFF; background: #BB0000; text-align: center; border-radius: 4px">You are using Internet Explorer 9 or lower. Consider Internet Explorer 10, Chrome, Firefox or Opera</p>
      <![endif]-->
    </div>
