@{
  Layout = "_layout.page.cshtml";
  PageData["title"] = "Contact";
  }
    <div class="layout" style="">
      <span>If you have comments, suggestions, problems concerning my site or its content, please contact me via one of the methods below:</span>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
