<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StevenJBurns &bull; Home</title>
    <link type="text/css" rel="stylesheet" href="@Href("css/home.css")" />
    <link type="image/png" rel="icon" href="@Href("content/icons/favicon.png")" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35847828-1']);
      _gaq.push(['_trackPageview']);
      
      (function(){
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body style="min-height: 480px">
    <div class="table" style="padding-top: 48px">
      <div class="cell">
        <a href="./"><img src="content/images/bullseye/bullseye.lightgray.png" alt="Home" style="height: 96px; width: 96px" /></a>
      </div>
      <div class="cell">
        <h2>Digital ramblings, musings and whimsy</h2>
      </div>
    </div>
    <div class="table">
      <ul>
        <li class="link"><a href="blog">Blog</a></li>
        <li class="link"><a href="">Air Force</a></li>
        <li class="link"><a href="media">Media</a></li>
        <li class="link"><a href="tech">Tech Stuff</a></li>
        <li class="link"><a href="contact">Contact</a></li>
        <li class="link"><a href="disclaimer">Disclaimer</a></li>
      </ul>
    </div>  
  </body>
</html>

