@{ }
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StevenJBurns • USAF</title>
    <link type="text/css" rel="stylesheet" href="css/page.css" />
  </head>
  <body>
    <h2>The only thing I've known in my adult life...</h2>
    <div class="layout">
      <div class="cell">
        <img src="content/images/usaf_marker.gif" alt="USAF Marker">
        <span style="font-size: 2.0em; vertical-align: middle;">USAF</span>
        <img src="content/images/usaf_marker.gif" alt="USAF Marker">
      </div>
    </div>
    <a href="/">Back to the main page</a>
  </body>
</html>
