@{
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StevenJBurns • The Pooper</title>
    <style>
      html {background: #3F3F3F;}
      img  {position: absolute; left:50%; top:50%; margin:-68px 0 0 -95px;}
    </style>
  </head>
  <body>
    <img src="../content/images/pooper.gif" alt="The Pooper" />
  </body>
</html>
