html {
  margin: 0;
  padding: 0;
}

body{
  padding: 64px;
  color: #BBBBBB;
  background: #000000;
  font-family: Calibri, Verdana;
  text-align: center;
  cursor: default
}

div {text-align: center}

h1, h2, h3  h4, h5, h6 {
  margin: 8px
}

span.warning {
  color: #BB3333;
  border-radius: 4px
}

span.warning:hover {
  color: #FFFFFF;
  background: #FF0000
}
