@{
  Layout = "/_layout.page.cshtml";
  PageData["title"] = "Media";
  }
    <div class="layout">
      <ul>
        <li><a href="./media/images">Images</a></li>
        <li><a href="./media/music">Music</a></li>
        <li><a href="./media/video">Video</a></li>
      </ul>
    </div>
