@{ }
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StevenJBurns • Tech • Hardware</title>
    <link type="text/css" rel="stylesheet" href="css/sjb.css" />
  </head>
  <body>

  </body>
</html>
