@{ }
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StevenJBurns • Tech • Systems</title>
    <link type="text/css" rel="stylesheet" href="css/sjb.css" />
  </head>
  <body style="cursor: default;">
    <div>
      <h1 style="font-weight: bold;">The Hardware</h1>
      <div style="margin: 4px; padding: 0px; width: 384px; background: #909090; border-radius: 4px; display: inline-block; overflow: hidden;">
        <h3>DELL Dimension XPS P100c</h3>
        <ul>
          <li>200 MHz Pentium Overdrive Processor</li>
          <li>64MB EDO RAM</li>
          <li>ATI Mach128 - 16MB WRAM</li>
          <li>Hitachi 21&quot; SuperScan Pro 800</li>
          <li>10GB Western Digital Caviar Hard Drive</li>
          <li>Hitachi 16x CD-ROM</li>
          <li>Creative Labs SoundBlaster16</li>
          <li>US Robotics 56K Winmodem</li>
          <li>HP Deskjet 820Cse Printer</li>
        </ul>
      </div>
      <div style="margin: 4px; padding: 0px; width: 384px; background: #909090; border-radius: 4px; display: inline-block; overflow: hidden;">
        <h3>DELL Inspiron 7000</h3>
        <ul>
          <li>300MHz Pentium II Processor</li>
          <li>64MB EDO RAM</li>
          <li>Rage 3D Video Card - 8MB WRAM</li>
          <li>15&quot; Active Matrix Display</li>
          <li>4.0GB Hard Drive</li>
          <li>32x CD-ROM</li>
          <li>Maetsro 64-bit on-board sound card</li>
          <li>WinLT 56.6K v.90 modem</li>
          <li>HP ScanJet 4200C Scanner</li>
        </ul>
      </div>
    </div>
    <p>Highly Recommend Computer-Related Web Site Links...</p>
    <div style="display: table; border-spacing: 4px;">
      <a href="http://www.dell.com"><img src="content/images/dell.png" width="96" height="96" alt="DELL" /></a>
      <a href="http://www.newegg.com"><img src="content/images/newegg.png" width="96" height="96" alt="Newegg" /></a>
    </div>
    <h4><a href="/">Back to the main page</a></h4>
  </body>
</html>
