@{ }
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>StevenJBurns • Tech • Site</title>
        <link type="text/css" rel="stylesheet" href="css/sjb.css" />
    </head>
    <body>
      <div class="table" style="background:  transparent; padding:  0; display: none">
        <div class="cell" style="background: #C0C0C0; border-radius: 4px;">
          <h4 style="margin: 0; border-radius: 4px 4px 0 0">Best viewed at 800x600 or greater resolution</h4>
          <p style="margin: 8px; text-align: justify">NOTE: My site uses a lot of new web technology in its design. You may not be able to see certain portions of it depending on your web browser, its current settings, and whether certain add-ins, plug-ins, components and/or controls are on your machine. Additionally there are large graphic and sound files so don't be a loser and stop downloading the files before they're done or else you've undermined my hard work. If your modem has bandwidth envy be prepared to wait. In short, the site has been tested and it works. Any senseless, needless whining that it or any of the links don't work simply means you are technologically challenged and/or your computer is as well. Reconfigure your system, download the appropriate software or go buy a better computer -- just don't say its my fault... I've already been married once and heard that enough...</p>
          <!--[if lte IE 9]>
          <p style="color: #FFFFFF; background: #BB0000; text-align: center; border-radius: 0 0 4px 4px">You are using Internet Explorer 9 or lower. Consider Internet Explorer 10, Chrome, Firefox or Opera</p>
          <![endif]-->
        </div>
        <div class="cell" style="width: 192px; background: #C7C7C7; border-radius: 4px;">
          <h4 style="margin: 0; border-radius: 4px 4px 0 0">Version-itis</h4>
          <ul style="border-radius: 0 0 4px 4px;">
            <li>Version 1.7 : 28-Feb-1998</li>
            <li>Version 2.0 : 01-Mar-2000</li>
            <li>Version 3.0 : 16-Sep-2012</li>
            <li>The Pooper is back...</li>
            <li><img src="content/images/bug.gif" alt="Bug" /></li>
          </ul>
        </div>
      </div>
    </body>
</html>
