<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StevenJBurns.net</title>
    <link type="text/css" rel="stylesheet" href="../css/steve.css" />
  </head>
  <body>
    <div style="display: table; margin: 4px; text-align: left; border-spacing: 4px;">
<!-- <img src="content/images/the_pooper.gif" alt="The Pooper" style="display: table-cell; vertical-align: middle;"> -->
      <div style="display: table-cell; margin: 0 4px; padding: 4px; vertical-align: top; background: #575757; border-radius: 8px;">
        <h1 style="margin: 2px;"><u>Steve's Home Page</u></h1>
        <p style="margin: 2px;">After 2 years of personal chaos and the release of Microsoft FrontPage2000 I finally have the technological ammo to re-do this web site the way I originally wanted it... just like the Star Wars Trilogy Special Edition re-release.</p>
        <br/>
        <p style="margin: 2px;">Kick back, fire up the web browser and enjoy...</p>
      </div>
      <div style="display: table-cell; width: 240px;  background: #575757; vertical-align: top; border-radius: 8px; overflow: hidden;">
        <h4 style="margin: 0px; padding: 2px; background: #303030; text-align: center;">Version-itis</h4>
        <ul>
          <li>Version 1.7 : 28-Feb-1998</li>
          <li>Version 2.0 : 01-Mar-2000</li>
          <li>Version 3.0 : 16-Sep-2012</li>
          <li><p>The Pooper is back....</p></li>
        </ul>
      </div>
    </div>
    <hr />
    <p style="font-weight: bold; text-align: justify;">NOTE: My site uses a lot of new web technology in its design. You may not be able to see certain portions of it depending on your web browser, its current settings, and whether certain add-ins, plug-ins, components and/or controls are on your machine. Additionally there are large graphic and sound files so don't be a loser and stop downloading the files before they're done or else you've undermined my hard work. If your modem has bandwidth envy be prepared to wait. In short, the site has been tested and it works. Any senseless, needless whining that it or any of the links don't work simply means you are technologically challenged and/or your computer is as well. Reconfigure your system, download the appropriate software or go buy a better computer -- just don't say its my fault... I've already been married once and heard that enough...</p>
    <p style="font-weight: bold; "><u>Best viewed at 800x600 or greater resolution</u></p>
    <div>
      <img src="../content/images/under_construction.gif" alt="Under Construction">
      <span>...this site always under heavy construction...</span>
      <img src="../content/images/under_construction.gif" alt="Under Construction">
    </div>
    <hr />
    <h2 style="font-weight: bold; text-decoration: underline;">My links:</h2>
    <div>
      <style>
        a {color: #000000; font-weight: bold; text-decoration: none;}
        a:hover {color: #000000;}
      </style>
      <ul style="list-style: none; padding: 0;">
        <li class="link"><a href="images.html">My Pictures</a></li>
        <li class="link"><a href="usaf.html">The Air Force</a></li>
        <li class="link">Places</li>
        <li class="link">New York Mets</li>
        <li class="link">Movies</li>
        <li class="link">The Simpsons</li>
        <li class="link">Cool Music</li>
        <li class="link"><a href="computers.html">Computer Stuff</a></li>
        <li class="link"><a href="../disclaimer">Disclaimer</a></li>
      </ul>
    </div>
    <hr />
    <div style="text-align: center;">
      <img class="browser-icon" src="../content/images/ie8.png" alt="Internet Explorer" />
      <img class="browser-icon" src="../content/images/chrome.png" alt="Google Chrome" />
      <img class="browser-icon" src="../content/images/opera.png" alt="Opera" />
    </div>
  </body>
</html>
